=begin
#Permit.io API

#Fullstack Authorization as a Service

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module OpenapiClient
  class PDPDecisionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List PDP Decisions
    # Get a list of all PDP decisions filtered by users, timestamp, decision, etc.
    # @param pdp_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :users List of user IDs to filter by
    # @option opts [Boolean] :approved Filter by approved decisions
    # @option opts [Array<String>] :resources Filter by resources
    # @option opts [Integer] :timestamp_from Filter by timestamp from
    # @option opts [Integer] :timestamp_to Filter by timestamp to
    # @option opts [Integer] :skip Skip first n results (default to 0)
    # @option opts [Integer] :limit Limit to n results (default to 100)
    # @option opts [String] :x_organization_id The id of the active organization you want to query on
    # @return [DecisionLogResponseList]
    def get_decision_logs(pdp_id, opts = {})
      data, _status_code, _headers = get_decision_logs_with_http_info(pdp_id, opts)
      data
    end

    # List PDP Decisions
    # Get a list of all PDP decisions filtered by users, timestamp, decision, etc.
    # @param pdp_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :users List of user IDs to filter by
    # @option opts [Boolean] :approved Filter by approved decisions
    # @option opts [Array<String>] :resources Filter by resources
    # @option opts [Integer] :timestamp_from Filter by timestamp from
    # @option opts [Integer] :timestamp_to Filter by timestamp to
    # @option opts [Integer] :skip Skip first n results
    # @option opts [Integer] :limit Limit to n results
    # @option opts [String] :x_organization_id The id of the active organization you want to query on
    # @return [Array<(DecisionLogResponseList, Integer, Hash)>] DecisionLogResponseList data, response status code and response headers
    def get_decision_logs_with_http_info(pdp_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PDPDecisionsApi.get_decision_logs ...'
      end
      # verify the required parameter 'pdp_id' is set
      if @api_client.config.client_side_validation && pdp_id.nil?
        fail ArgumentError, "Missing the required parameter 'pdp_id' when calling PDPDecisionsApi.get_decision_logs"
      end
      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling PDPDecisionsApi.get_decision_logs, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PDPDecisionsApi.get_decision_logs, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PDPDecisionsApi.get_decision_logs, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/pdps/{pdp_id}/decision_logs'.sub('{' + 'pdp_id' + '}', CGI.escape(pdp_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'users'] = @api_client.build_collection_param(opts[:'users'], :multi) if !opts[:'users'].nil?
      query_params[:'approved'] = opts[:'approved'] if !opts[:'approved'].nil?
      query_params[:'resources'] = @api_client.build_collection_param(opts[:'resources'], :multi) if !opts[:'resources'].nil?
      query_params[:'timestamp_from'] = opts[:'timestamp_from'] if !opts[:'timestamp_from'].nil?
      query_params[:'timestamp_to'] = opts[:'timestamp_to'] if !opts[:'timestamp_to'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-organization-id'] = opts[:'x_organization_id'] if !opts[:'x_organization_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DecisionLogResponseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2PasswordBearer']

      new_options = opts.merge(
        :operation => :"PDPDecisionsApi.get_decision_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PDPDecisionsApi#get_decision_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
